* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 62.5% 'Lato', sans-serif;
}

body {
  background: #060c18;
}

sup {
  margin-left: 10px;
  margin-bottom: -20px;
  font-size: 2.5rem;
  vertical-align: super;
  position: absolute;
  top: 5px;
}

.widgets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 40px auto;
}

.download {
  width: 26rem;
  height: 29rem;
  background: linear-gradient(216.58deg, #b469f7 0%, #8f26ee 100%);
  border-radius: 40px;
  margin: 1rem;
  padding: 2rem 3rem 1rem;
  position: relative;
}

.download_icon_container {
  width: 60px;
  height: 60px;
  background: #ffffff;
  filter: drop-shadow(-18px 18px 32px rgba(7, 7, 7, 0.5));
  border-radius: 18px;
  padding: 10px 20px;
}

.download_icon {
  width: 21px;
  height: 40px;
  filter: drop-shadow(-4px 7px 7px rgb(0 0 0 /0.6));
}

.download_speed {
  font-size: 7rem;
  color: white;
  font-weight: bold;
  margin: 2rem 0 1rem;
  position: relative;
  text-shadow: -20px 22px 43px rgb(0 0 0/ 0.5);
}

.download_status {
  font-size: 2.125rem;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

.bell {
  position: absolute;
  bottom: -16px;
  right: -6px;
  transform: rotate(18.5deg);
}

.expense {
  height: 29rem;
  width: 45rem;
  background: linear-gradient(251.53deg, #60d77a 0%, #05a227 100.8%);
  border-radius: 40px;
  margin: 1rem;
}

.weather {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 29rem;
  width: 45rem;
  background: linear-gradient(251.35deg, #00a1ff 0%, #0081cc 100%);
  border-radius: 40px;
  margin: 1rem;
  padding: 4rem;
  color: white;
}

.weather_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
}

.weather_summary p:first-child {
  text-shadow: -3px 4px 5px rgb(0 0 0 / 0.3);
}

.weather_time {
  color: #75ccff;
  font-size: 3.25rem;
}

.weather_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather_temp {
  font-size: 17rem;
  position: relative;
  color: #ebebeb;
  text-shadow: -20px 22px 43px rgb(0 0 0/ 0.7);
}

.dot {
  width: 25px;
  height: 25px;
  background: radial-gradient(
    77.25% 77.25% at 69.89% 22.75%,
    #ffffff 0%,
    #a8a8a8 100%
  );
  border-radius: 50%;
}

.cloud {
  filter: drop-shadow(-35px 30px 35px rgb(0 0 0/ 0.5));
}

.upload {
  width: 23rem;
  height: 29rem;
  background: linear-gradient(216.58deg, #b469f7 0%, #8f26ee 100%);
  border-radius: 40px;
  margin: 1rem;
  padding: 2rem 2rem 1rem;
  position: relative;
}

.upload .download_icon {
  transform: rotate(-180deg);
  filter: drop-shadow(0px -8px 5px rgb(0 0 0 /0.6));
}

.time {
  width: 23rem;
  height: 29rem;
  background: linear-gradient(216.58deg, #ebf5ff 0%, #bfcae7 100%);
  border-radius: 40px;
  margin: 1rem;
  padding: 2rem;
}

.time_cloud {
  transform: scale(0.5);
  width: 100px;
  height: 0px;
  float: right;
}

.time_details {
  margin-top: 100px;
}

.current {
  font-size: 7rem;
  font-weight: bold;
  text-shadow: -20px 22px 40px rgb(0 0 0/ 0.5);
  margin: 1rem 0 0.5rem;
}

.day {
  font-size: 2rem;
  color: #979797;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.date {
  font-size: 2rem;
  font-weight: 600;
  color: #ed5555;
}

.stat {
  height: 29rem;
  width: 45rem;
  background: linear-gradient(251.35deg, #e8f2fd 0%, #c3cee9 100%);
  border-radius: 40px;
  margin: 1rem;
}

.card {
  width: auto;
  height: 100%;
  background: linear-gradient(216.7deg, #41454f 0%, #202226 100%);
  border-radius: 40px;
  padding: 4rem 3rem;
  color: #e3e3e1;
  position: relative;
  margin-bottom: 60px;
}

.amount {
  font-size: 2.25rem;
  text-shadow: -14px 12px 16px black;
  font-weight: 600;
}

.figure {
  font-size: 5rem;
  margin: 1rem 0;
  font-weight: 600;
  text-shadow: -8px 14px 25px #000000;
}

.cards {
  margin: 4rem 0;
}

.option {
  font-size: 1.875rem;
  color: #666972;
  margin: 1em 0;
}

.card_one {
  height: 100%;
  width: auto;
  background: linear-gradient(87.67deg, #1681ff 0%, #0069e3 100%);
  border-radius: 21px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  filter: drop-shadow(-24px 20px 5px rgb(14 14 14 / 0.2));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_two {
  height: 100%;
  width: auto;
  padding: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credit_card {
  width: 65px;
  height: 65px;
  background: linear-gradient(180deg, #d6e9ff 0%, #4098ff 100%);
  box-shadow: -7px 7px 20px rgba(7, 7, 7, 0.25);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#visa {
  margin-bottom: -10px;
  margin-left: -5px;
}

#master {
  margin-bottom: -10px;
  margin-left: -10px;
}

.card_details {
  margin-right: 5rem;
  margin-left: 1rem;
}

.card_details p {
  font-size: 1.875rem;
  letter-spacing: 2px;
  color: white;
}

.card_details p:first-child {
  font-weight: 600;
  margin-bottom: 8px;
}

.checkmark_active {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffffff 0%, #d9d9d9 100%);
  filter: drop-shadow(-7px 7px 20px rgba(7, 7, 7, 0.6));
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark svg {
  filter: drop-shadow(-4px 7px 3px rgb(14 14 14/0.2));
}

.checkmark_container {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark_inactive {
  width: 37px;
  height: 37px;
  background: #717479;
  box-shadow: -7px 7px 25px rgba(7, 7, 7, 0.5);
  border-radius: 50%;
}

button {
  position: absolute;
  left: 0;
  bottom: -40px;
  border: none;
  width: 100%;
  height: 80px;
  background: linear-gradient(266.78deg, #60d77a 9.25%, #2fb94d 93.72%);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  font-size: 2.25rem;
  color: white;
  font-weight: 500;
  text-shadow: -9px 8px 22px #131417;
}
